
<div class="form-container">
  <h2>{{ isEditMode ? 'Update Job' : 'Add Job' }}</h2>

  <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <form (ngSubmit)="saveJob()">
      <label>Job Title</label>
      <input [(ngModel)]="job.title" name="title" placeholder="Enter job title" ngModel required />

      <label>Job Description</label>
      <textarea [(ngModel)]="job.description" name="description" placeholder="Enter job description"
      ngModel    required></textarea>

      <label>Company</label>
      <input [(ngModel)]="job.company" name="company" placeholder="Enter company name" ngModel required />

      <label>Location</label>
      <input [(ngModel)]="job.location" name="location" placeholder="Enter job location" ngModel required />

      <button type="submit" class="submit-btn"
          [disabled]="!job.title || !job.description || !job.company || !job.location">
          {{ isEditMode ? 'Update Job' : 'Add Job' }}
      </button>
  </form>
</div>